rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    // I own the order if my uid corresponds to the owner field
    function isIncomingOrderOwned() {
      return request.resource.data.owner == request.auth.uid;
    }

    function isExistingOrderOwned() {
      return resource.data.owner == request.auth.uid;
    }

    function isOwner(user) {
      return request.auth.uid == user;
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{user} {
      allow read, write: if isAuthenticated() && isOwner(user);
    }

    match /orders/{order} {
      allow read, update, delete: if isAuthenticated() && isExistingOrderOwned();
      allow create: if isAuthenticated() && isIncomingOrderOwned();
    }

    match /tests/{test} {
      allow read: if isAuthenticated();
    }
  }
}